.container {
  background-color: rgb(235, 234, 234);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  font-weight: 900;
}
